body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
}

.header, .title {
  display: flex;
  align-items: center;
}

.header, .footer {
  background-color: #1F2937;
}

.header {
  justify-content: space-between;
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
  padding: 8px 64px;
}

.header .links {
  gap: 24px;
}

.footer {
  text-align: center;
  color: #E5E7EB;
  padding: 40px;
}